.footer {
  position: fixed; /* Фиксированное позиционирование */
  bottom: 0; /* Прикрепляем футер к нижней части страницы */
  left: 0; /* Выравнивание по левому краю */
  right: 0; /* Выравнивание по правому краю */
  background-color: #f0f2f5; /* Цвет фона футера */
  text-align: center; /* Центрирование текста */
  /* Вертикальные отступы */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Тень для глубины */
}

.footer p {
  font-size: small;
}
