.navPanel {
  margin-top: 1em;
  margin-bottom: 5em;
  float: left;
  background-color: #ffffff;
  padding: 20px;
  width: 200px;
  height: auto;
  box-shadow: 1px 1px 15px rgb(150, 150, 150);
}

.navPanel .ant-btn {
  margin-bottom: 1em;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
}

.navPanel .ant-btn:hover {
  transform: scale(1.1);
}
