.useStateExample {
  display: flex; /* Используем flexbox для расположения элементов в строку */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
}
.useStateExample .items {
  margin: 1em;
}
.useStateExample Input {
  width: 10em;
  margin: 1em;
}
