.content {
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  margin-top: 1em;
  margin-left: 16em;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 1px 1px 15px rgb(150, 150, 150);
}
.content h1 {
  margin: 0;
  text-align: left;
  font-size: 2em;
}
.content h2 {
  margin: 0;
  text-align: left;
  font-size: 1.5em;
}

.content-img {
  max-width: 100%;
  height: auto;
}

.code-block {
  background-color: rgb(212, 210, 210);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 0.5em;
}
.codeText {
  color: #000000;
}
.text-block {
  margin: 0.5em;
}
.text-block-important {
  background-color: rgb(212, 210, 210);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 0.5em;
}
.warning-icon {
  color: rgb(230, 73, 73);
  margin-right: 0.5em;
  font-size: 2em;
}
.list {
  background-color: rgb(212, 210, 210);
  border-radius: 1em;
  padding: 1.5em;
}
.link-in-text {
  margin: 0.3em;
  border-color: rgb(97, 218, 251);
}
